<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DebugMode" value="false" />
		
		<!-- Dev -->
		<!--<add key="Environment" value="DEV"/>
		<add key="AwsKey" value="YBZxseQH87K9JE4XSJMrHY7/LIAn8DR9Uezn29fpx5W/aDvuGDRv6vWh2fu25md4K/0e8+alTGont43DWYhs+Q==" />-->

		<!-- QA -->
		<add key="Environment" value="QA"/>
		<add key="AwsKey" value="ri6TAeCrJPG2LnDwoGFKmii97re/EmjE4X/cz+NZTmOv21wPl+X3Wca0fw9hvBLckUG8PjjJkK+B9yuk7AF8Hw==" /> 
		
		<add key="OverdueKey" value="lnOKCoclDNh6+V1Hlh4kvIbXEGiuw0PZ4HCODlDyaLY="/>
		<add key="AwsRegion" value="ap-southeast-1" />	
		<add key="ActiveLogArea" value="false" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>