<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="C:\args\Overdue\Log\InboundInvoice\OverdueInternal.txt">

	<targets>
		<target name="file" xsi:type="File"
				layout="${longdate} ${level} ${message}"
				fileName="C:\args\Overdue\Log\InboundInvoice\OverdueLog-${shortdate}.txt"
				archiveFileName="C:\args\Overdue\Log\InboundInvoice\OverdueLogArchive-${shortdate}-{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				concurrentWrites="true"
				keepFileOpen="false" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>